.mine-sweeper-start {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #606266;
    text-align: center;
}

.mine-sweeper-start-btn {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #606266;
    border-radius: 6px;
    cursor: pointer;
}

.mine-sweeper-flagCount {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    color: #F56C6C;
    font-weight: 600;
    font-size: 22px;
}

.mine-sweeper-params {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.mine-sweeper-params-item {
    display: inline-block;
    width: 100px;
    font-weight: 600;
}
.mine-sweeper-params-item input {
    width: 30px;
    text-align: center;
    vertical-align: middle;
    border: 0;
    font-weight: 600;
    font-size: 16px;
}
.mine-sweeper-params-item input:focus {
    outline: none;
}

.mine-sweeper-params-item-1 {
    color: rgb(226, 172, 172);
}
.mine-sweeper-params-item-1 input {
    border: 2px solid rgb(226, 172, 172);
    color: rgb(226, 172, 172);
}
.mine-sweeper-params-item-1 input:focus {
    outline: rgb(226, 172, 172) solid 3px;
}

.mine-sweeper-params-item-2 {
    color: rgb(113, 173, 116);
}
.mine-sweeper-params-item-2 input {
    border: 2px solid rgb(113, 173, 116);
    color: rgb(113, 173, 116);
}
.mine-sweeper-params-item-2 input:focus {
    outline: rgb(113, 173, 116) solid 3px;
}

.mine-sweeper-params-item-3 {
    color: rgb(192, 87, 101);
}
.mine-sweeper-params-item-3 input {
    width: 40px;
    border: 2px solid rgb(192, 87, 101);
    color: rgb(192, 87, 101);
}
.mine-sweeper-params-item-3 input:focus {
    outline: rgb(192, 87, 101) solid 3px;
}

.mine-sweeper {
    margin: 0 auto;
    border: 1px solid gray;
    padding: 1px;
}

.mine-sweeper-row {
    height: 30px;
}

.mine-sweeper-item {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 1px;

    vertical-align: middle;
    text-align: center;
    
    background-color: #C0C4CC;
    cursor: pointer;

    font-weight: 600;
    font-size: 20px;
}
.mine-sweeper-item:hover {
    background-color: #409EFF;
}

.mine-sweeper-item-selected {
    background-color: #EBEEF5;
}

.mine-sweeper-item-selected:hover {
    background-color: #EBEEF5;
}

.mine-sweeper-item-boom {
    background-color: #F56C6C;
}

.mine-sweeper-item-number-1 {
    color: rgb(226, 172, 172);
}
.mine-sweeper-item-number-2 {
    color: rgb(187, 134, 115);
}
.mine-sweeper-item-number-3 {
    color: rgb(221, 203, 144);
}
.mine-sweeper-item-number-4 {
    color: rgb(196, 206, 152);
}
.mine-sweeper-item-number-5 {
    color: rgb(113, 173, 116);
}
.mine-sweeper-item-number-6 {
    color: rgb(105, 189, 185);
}
.mine-sweeper-item-number-7 {
    color: rgb(107, 122, 155);
}
.mine-sweeper-item-number-8 {
    color: rgb(155, 94, 145);
}